{% extends "base.html" %}
{% block content %}
<form action="/matches/{{match.id}}" method="post">
    <div>
      <label for="home_team">Home Team:</label>
      <input type="text" id="home_team" name="home_team" value="{{match.home_team.team_name}}" required autofocus>
    </div>
  
    <div>
      <label for="away_team">Away Team:</label>
      <input type="text" id="away_team" name="away_team" value="{{match.away_team.team_name}}" required>
    </div>
  
    <div>
        <label for="result">Match Result:</label>
        <input type="text" id="result" name="result" value="{{match.result}}" required>
    </div>
  
  <button type="submit">Update match</button>
  
  </form>


{% endblock %}
