{% extends "base.html" %}
{% block content %}
<form action="/matches/{{match.id}}" method="post">
    <div>
      <label for="home_team">Home Team:</label>
      <!-- <input type="text" id="home_team" name="home_team" value="{{match.home_team.id}}" required autofocus> -->
      <select id = "home_team" name="home_team">
        {% for team in teams %}
        <option value="{{team.id}}" {% if team.id == match.home_team.id %}
        selected="{{team.team_name}}"{% endif %}>{{team.team_name}}</option>
        {% endfor %}
      </select>
    </div>
  
    <div>
      <label for="away_team">Away Team:</label>
      <!-- <input type="text" id="away_team" name="away_team" value="{{match.away_team.id}}" required> -->
      <select id = "away_team" name="away_team">
        {% for team in teams %}
        <option value="{{team.id}}" {% if team.id == match.away_team.id %} selected="{{team.team_name}}" {% endif %}>{{team.team_name}}</option> 
        {% endfor %}
      </select>
    </div>
  
    <div>
        <label for="result">Match Result:</label>
        <input type="text" id="result" name="result" value="{{match.result}}" required>
    </div>
  
  <button type="submit">Update match</button>
  
  </form>

<style>
  .footer {
    display: none;
  }
</style>
{% endblock %}
