{% extends "base.html" %} {% block content %} {% for team in all_teams %}
<div class="team">
  <div class="content">
    {{team.team_name}}
    <p></p>
    <div class="hyperlink">
      <a href="/teams/{{team.id}}/show">Team Info</a>
    </div>
    <div class="buttons">
      <form class="edit-form" action="/teams/{{team.id}}/edit" method="GET">
        <button class="edit-button">
          <i class="fa-regular fa-pen-to-square fa-3x" aria-hidden="false"></i>
        </button>
      </form>
      <form
        class="delete-form"
        action="/teams/{{team.id}}/delete"
        method="POST"
      >
        <button class="trash-button">
          <i
            class="fa fa-trash-o fa-3x"
            style="color: red"
            aria-hidden="true"
          ></i>
        </button>
      </form>
    </div>
  </div>
</div>
{% endfor %}

<style>
  .footer {
    display: none;
  }
</style>

{% endblock %}
