<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/705586972b.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Dota League, Season 10</title>
</head>
<body>
  <div class="bg">
  <header>  
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/matches">Matches</a></li>
        <li><a href="/matches/new">New Match</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/teams/new">New Team</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  </div>
</body>
</html>
